/*  structure...
    table - row  - cell
          - grid - cell
*/

/* common */
.time-table-row-header, .time-table-cell, .time-table-col-header{
    padding: 0 10px;
}

/* time table */
.time-table-container {
    position:relative;
    border-collapse: collapse;
}
.time-table-container thead tr {
    box-sizing: border-box;
    border-bottom:1px outset black;
}

/* time table col */
.time-table-col-header {
    text-align: center;
}

/* time table grid */
.time-table-grid{
    background-color: transparent;
    height:1px;
}
.time-table-grid .time-table-cell{
    box-sizing: border-box;
    background-color: transparent;
}

/* time table row */
.time-table-row{
    border-bottom:1px solid black;
    height:1px;
}
.time-table-row-header {
    text-align:right;
}
.time-table-row .time-table-cell{
    box-sizing: border-box;
}