/*  structure...
    
    table :        col  col  col  (col-header)
                -----------------
            row | cell cell cell
            row | cell cell cell
            row | cell cell cell
    (row-header)

*/

/* time table */
.timeTableContainer {
    position:relative;
    border-collapse: collapse;
}
.timeTableContainer thead tr {
    box-sizing: border-box;
    border-bottom:1px outset black;
}

/* time table col */
.timeTableColHeader {
    text-align: center;
}

/* time table grid */
.timeTableGrid{
    background-color: transparent;
    height:1px;
    line-height: 0px;
}
.timeTableGrid .timeTableCell{
    box-sizing: border-box;
    background-color: transparent;
}

/* time table row */
.timeTableRow{
    border-bottom:1px solid black;
    height:1px;
    line-height: 0px;
}
.timeTableRow-header {
    text-align:right;
}
.timeTableRow .timeTableCell{
    box-sizing: border-box;
}